<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:name="com.sarnavsky.pasz.nightlight.App2"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true">
        <activity
            android:name="com.sarnavsky.pasz.nightlight.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d55107d28ce43380eba136dacd8b5412b989e4db" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1237459888817948~9725583458"/>

        <meta-data android:name="applovin.sdk.key"
            android:value="CsFdIcdy3bb1MbtM1t5hX2BTt0Tg2EgFikbct_BERtiD3xwGLQOITnXILFrgwgUOetkDZeilCI0eGkvI_QTfuG"/>

    </application>
</manifest>